.QrCode {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;   
    padding: 15px;
}


.QrCode__title {
    color: var(--textColor);
    font-size: 30px;
}